<!DOCTYPE html>
<html>
<head>
  <title>Patient</title>
  <%= stylesheet_link_tag    'bootstrap.min.css' %>
  <%= stylesheet_link_tag    'bootstrap-responsive.min.css' %>
  <%= stylesheet_link_tag    'font-awesome.min.css' %>
  <%= stylesheet_link_tag    'style-metro.css' %>
  <%= stylesheet_link_tag    'style.css' %>
  <%= stylesheet_link_tag    'style-responsive.css' %>
  <%= stylesheet_link_tag    'default.css' %>
  <%= stylesheet_link_tag    'uniform.default.css' %>
  <%= stylesheet_link_tag    'login.css' %>

  	<%= javascript_include_tag 'jquery-1.10.1.min.js' %>
  	<%= javascript_include_tag 'jquery-migrate-1.2.1.min.js' %>
  	<%= javascript_include_tag 'jquery-ui-1.10.1.custom.min.js' %>
  	<%= javascript_include_tag 'bootstrap.min.js' %>
  	<%= javascript_include_tag 'jquery.slimscroll.min.js' %>
  	<%= javascript_include_tag 'jquery.blockui.min.js' %>
  	<%= javascript_include_tag 'jquery.cookie.min.js' %>
  	<%= javascript_include_tag 'jquery.uniform.min.js' %>
  	<%= javascript_include_tag 'jquery.validate.min.js' %>
  	<%= javascript_include_tag 'app.js' %>
  	<%= javascript_include_tag 'login.js' %>
	
	


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
